@page "/"
@inject ITodoService TodoSvc
@using CssIsolation.Services
@rendermode  InteractiveServer

<PageTitle>Todos</PageTitle>

<h1>Espartan Todo App</h1>

<h2>Todo List</h2>

<TodoList Todos="_todos" OnDoneClicked="MarkTaskDone"></TodoList>

@code
{
    private IEnumerable<TodoTask> _todos = [];

    protected override async Task OnInitializedAsync()
    {
        _todos = await TodoSvc.GetAll();
    }

    private async Task MarkTaskDone(int id)
    {
        await TodoSvc.MarkAsDone(id);
    }
}
